.mainBlock {width:640px; margin: 0 auto;}

.playlist .video {margin-bottom:15px;}

.button { margin: 2px 0; font-size: 14px; font-family: arial; padding: 5px 10px; border:0; background: #1c9e3f; color:white; text-decoration:none; cursor:pointer; display:inline-block; }
.button:hover {background:#22c14d;}
















